@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

  .popUpModalEditForm {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }

.rating {
	width: 5em;
	margin-left: auto;
    margin-right: auto;
}

.editTitle{
	background-color: black;
}

.main-container {
	background-color: #101010;
	margin: 1em;
}


.form-style div,
label {
	background-color: #000000;
}

.form-style input,
textarea {
	padding: 0.5em;
	margin: 0.5em;
	background-color: white;
	color: #101010;
}

.addFavoriteToListButton {
	background-color: #ff2e00;
	color: white;
	height: 35px;
	width: 75px;
	font-size: 1em;
	border: none;
	cursor: pointer;
	border-radius: 1px;
	align-self: center;
}

.addFavoriteToListButton:hover {
	background-color: white;
	color: black;
}



