.wrapper {
	color: rgb(255, 44, 44);
	text-align: center;
	background-color: rgb(0, 0, 0);
	margin: 20px;
	padding: 20px;
	margin-top: 20px;
	background-color: #101010;
}
.input-field {
	margin-bottom: 15px;
	display: inline-block;
	width: 75%;
	padding: 15px;
	color: #464646;
	font-size: 20px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	background-color: rgb(241, 238, 238);
	border-radius: 0px 0px 0px 16px;
	transition: 0.4s;
}
.input-field:hover {
	background-color: rgb(241, 238, 238);
	box-shadow: 3px 3px 3px rgba(245, 245, 87, 0.616);
}
.select-styling {
	display: inline-block;
	padding: 15px;
	color: #464646;
	font-size: 20px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	background-color: rgb(241, 238, 238);
	border-radius: 0px 16px 0px 0px;
	transition: 0.4s;
}
.select-styling:hover {
	cursor: pointer;
	box-shadow: 0px 3px 3px rgba(245, 245, 87, 0.616);
}
.movie-styling {
	/* width: 75%; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 50px;
}

.buttonsInFavoriteList{
	background-color:rgb(255, 44, 44);
	color: white;
	height: 20px;
	width: 70px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}

.buttonsInFavoriteList:hover{
	background-color: rgba(255, 44, 44, 0.829);
}

.showDeleteEditButtonsDiv{
	display: flex;
	justify-content: space-evenly;
}



@media screen and (max-width: 580px) {
	.select-styling {
		display: inline;
	}
	.input-field {
		width: 45%;
	}
}
@media screen and (max-width: 310px) {
	.select-styling {
		width: 20%;
		font-size: small;
		background-color: rgb(216, 34, 34);
	}
	.input-field {
		width: 20%;
		font-size: small;
	}
}
@media screen and (max-width: 270px) {
	.select-styling {
		background-color: rgb(216, 34, 34);
		font-size: x-small;
	}
	.input-field {
		font-size: x-small;
	}
}
