* {
	color: aliceblue;
}
.main-container {
	/* background-color: black; */
	margin: 1em;
}

.form-style {
	background-color: #be1818;
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding: 1em;
	color: white;
	text-align: center;
	cursor: pointer;
	/* left: 0;
	right: 0; */
	/* top: 40vh; */
	/* position: absolute; */
}
.form-style div,
label {
	background-color: #be1818;
}

.form-style input,
textarea {
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 5px;
	background-color: white;
}

.addFavoriteToListButton {
	padding: 0.5em;
	margin: 1em;
	width: 60px;
	border-radius: 5px;
	margin-left: 45%;
	font-size: 0.9em;
	font-weight: bold;
}
.addFavoriteToListButton:hover {
	background-color: #302c2c;
	cursor: pointer;
}
/* .container {
	background-color: #101010;
	height: 100vh;
}

.startPageWelcomeButton{
	grid-column: 1/2;
	grid-row: 3/4;
	justify-self: center;
	align-self: center;
	background-color: white;
	color: black;
	height: 20px;
	width: 70px;
	border: 2px solid white;
	cursor: pointer;
} */
