*{
	color: aliceblue;
}
.add-title-container{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 40vh;
	width: 400px;
	padding: 2em 0;
	background-color: black;
	color: white;
	border: 1px solid red;
	text-align: center;
	
}
.container{
	background-color: #101010;
	height: 100vh;
}

.startPageWelcomeButton{
	grid-column: 1/2;
	grid-row: 3/4;
	justify-self: center;
	align-self: center;
	background-color: white;
	color: black;
	height: 20px;
	width: 70px;
	border: 2px solid white;
	cursor: pointer;
}