.inspoContainer{
	background-color: #101010;
	height: auto;
    text-align: center;
}
.movieButton, .serieButton{
    /* width: 300px;
    height: 40px;
    background-color: #FF2E00;
    border: 0; */
	margin: 10px 10px 20px 10px;
	background-color:#ff2e00;
	color: white;
	height: 38px;
	width: 200px;
	font-size: 1.1em;
	border: none;
	cursor: pointer;
	border-radius: 1px;
}
.addButton{
    /* width: 300px;
    height: 40px;
    background-color: #FF2E00;
    border: 0; */
	margin: 10px 10px 20px 10px;
	background-color:#ff2e00;
	color: white;
	height: 38px;
	width: 200px;
	font-size: 1.1em;
	border: none;
	cursor: pointer;
	border-radius: 1px;
}

.addButton:hover{
	background-color: white;
	color: black;
	transition: all 0.7s ease 0s;
}

.movieButton:hover{
	background-color: white;
 color: black;
 transition: all 0.7s ease 0s;
}

.serieButton:hover{
	background-color: white;
	color: black;
	transition: all 0.7s ease 0s;
}

.contentTitle {
    color: white;
    text-align: center;
    background-color: #101010;
}
.contentPoster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #101010;
}
.movieInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;  
    background-color: #101010; 
}
.movieInfo > p {
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #101010;
}
.description{
    width: auto;
    word-wrap: normal;
    margin-bottom: 10px;
}
.buttonDivTop {
    padding-top: 30px;
    margin: 0;
    background-color: #101010;
}
.buttonDivBottom {
    padding-top: 10px;
    margin: 0;
    background-color: #101010;
}

@media (max-width: 500px) {
    .movieInfo > p {
        width: 70%;
    }
  }
