.inspoContainer{
	background-color: #101010;
	height: 125vh;
    text-align: center;
}
.movieButton, .serieButton{
    width: 300px;
    height: 40px;
    background-color: #FF2E00;
    border: 0;
    margin-bottom: 30px;
}
.addButton{
    width: 300px;
    height: 40px;
    background-color: #FF2E00;
    border: 0;
    margin-bottom: 30px;
}
.contentTitle {
    color: white;
    text-align: center;
    background-color: #101010;
}
.contentPoster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: #101010;
}
.movieInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;  
    background-color: #101010; 
}
.movieInfo > p {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #101010;
}
.description{
    width: 30%;
    word-wrap: normal;
    margin-bottom: 30px;
}
.buttonDiv {
    padding-top: 30px;
    margin: 0;
    background-color: #101010;
}
