@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

.startPageDiv{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	background-color: black; 
}

.startPageInnerDiv{
	margin-top: 48px;
	width: 500px;
	height: 150px;
	background-color: black;
}

.header{
	color: orangered;
	background-color: black;
}
.startPageWelcomePhrase{
	background-color: black;
	color: white;
	margin-top: 25px;
}

.startPageInput{
height: 20px;
  margin-top: 25px;
  text-align: center; 
  background-color: black;
}

.startPageWelcomeButton{
	background-color: white;
	color: black;
	height: 20px;
	width: 70px;
	border: 2px solid white;
	cursor: pointer;
}

.startPageForm{
	background-color: black;
}

.welcomeBackForm{
	background-color: black;
}

/* .welcomeHeaderText{
	text-align: center;
} */