.wrapper {
	color: rgb(255, 44, 44);
	text-align: center;
	background-color: rgb(0, 0, 0);
	margin: 20px;
	padding: 20px;
	margin-top: 20px;
}
.input-field {
	margin-bottom: 15px;
	display: inline-block;
	width: 75%;
	padding: 15px;
	color: #464646;
	font-size: 20px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	background-color: rgb(241, 238, 238);
	border-radius: 0px 0px 0px 16px;
	transition: 0.4s;
}
.input-field:hover {
	background-color: rgb(241, 238, 238);
	box-shadow: 3px 3px 3px rgba(71, 71, 70, 0.616);
}
.select-styling {
	display: inline-block;
	padding: 15px;
	color: #464646;
	font-size: 20px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	background-color: rgb(241, 238, 238);
	border-radius: 0px 16px 0px 0px;
	transition: 0.4s;
}
.movie-styling {
	/* width: 75%; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
/* .movie-styling div {
	margin: 15px;
	padding: 10px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 3px;
	justify-items: center;
} */
/* .movie-styling div:hover {
	opacity: 0.8;
} */

/* DET UTMARKERADE OVAN FÅR VI KIKA PÅ, DET FÅR POPUPEN ATT BETE SIG KONSTIGT, VET INTE VARFÖR :D */