* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

.header-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 60px 60px;
  height: 200px;
}

.headerLogo {
  background-color: transparent;
  color: #FF2E00;
  grid-column: 1/4;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

.welcomeHeaderText {
  background-color: transparent;
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: end;
  justify-self: end;
  margin-right: 15px;
}

.navField {
  background-color: transparent;
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  justify-content: space-evenly;
}

.navButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 24px;
}

.navButton:hover{
	color: #FF2E00;
	transition: all 0.7s ease 0s;
}


@media (max-width: 700px) {
	.welcomeHeaderText {
		grid-column: 1/4;
		justify-self: center;
		margin-right: 0;
	  }

	  .header-section > h1 {
		align-self: end;
	  }
	  .welcomeHeaderText {
		align-self: end;
	  }
}

@media (max-width: 550px) {
	.header-section {
		grid-template-rows: 40px 50px 50px;
		height: 160px;
	  }

	.navButton {
		font-size: 18px;
	  }
	  
	  .welcomeHeaderText {
		align-self: center;
	  }
}